.right-full-border {
  width: 1.5px;
  height: 100%;
  background: #525ceb;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.success-stories-middle-section {
  position: relative;
}

.success-stories-middle-section .img-box-1 img {
  width: 100%;
  height: 100%;
}

.success-stories-middle-section .img-box-2 {
  position: absolute;
  top: 27%;
  left: 35%;
  width: 80%;
  height: 80%;
}

.success-stories-middle-section .img-box-2 img {
  width: 100%;
  height: 100%;
}

.fix-bg-section.servicess-bg-fixed {
  background-attachment: fixed;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px;
  position: relative;
  z-index: 1;
}

.fix-bg-section.servicess-bg-fixed {
  background-image: url("../../assets/bg-brc-service.jpg");
}

.fix-bg-section:before {
  background-color: #000;
  bottom: 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.fix-bg-section .center-content-details {
  position: relative;
  z-index: 1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fix-bg-section .center-content-details p {
  color: white;
}

.dark-gray-section {
  background-color: #2b2a2a;
  padding: 50px 0;
}

.highlight-section {
  width: 40%;
  padding: 25px;
  background-color: #000;
}

.highlight-section ul li {
  margin-top: 20px;
  position: relative;
}

.highlight-section ul li::before {
  width: 1.5px;
  height: 35px;
  content: "";
  background-color: #525ceb;
  position: absolute;
  left: 19px;
  top: 31px;
}

.highlight-section ul li:hover::before {
  background-color: white;
}

.result {
  background-color: #ffffff;

  /* font-family: sans-serif; */
}
.result h2 {
  width: 90%;
  margin-left: 5%;
  line-height: 70px;
  font-size: 45px;
  color: #000;
  font-weight: bold;
}
.result li {
  font-size: 17px;
  font-weight: bold;
  color: #000 !important;
}
.content-result {
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 90%;
  padding-left: 5%;
}
.highlight {
  height: 600px;
  width: 100%;
  background-size: cover;
  scrollbar-width: 2px;
  position: relative;
}
.highlight img {
  height: 600px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  scrollbar-width: 2px;
}
.highlight-data {
  background-color: #2b2b2b;
  max-width: 500px;
  height: 480px;
  color: white;
  position: absolute;
  top: 20%;
  left: 20%;
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding-left: 2%;
  overflow-y: auto;
  scrollbar-width: none;
  scrollbar-color: #3d3b40 gray;
}
.highlight-data h2 {
  margin-top: 2%;
  font-size: 30px;
  font-weight: 700;
  padding-left: 1%;
  line-height: 50px;
}
.highlight li {
  width: 95%;
  font-size: 17px;
  color: #cccccc;
}
.highlight li:hover {
  background-color: #525ceb;
  color: white;
}
.technologies {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: #cccccc;
}
.technologies h2 {
  font-size: 35px;
  font-weight: bold;
}
.technologies-data {
  display: flex;
  height: 150px;
  align-items: center;
  gap: 20px;
}
.technologies-data p {
  font-size: 20px;
  font-weight: bold;
}

.technologies-data img {
  height: 100px;
  width: 150px;
  border: 1px solid #3d3b40;
  background-size: cover;
}
.technologies-data img:hover {
  border: 1px solid rgb(255, 0, 0);
  background-color: rgb(255, 255, 255);
}
.tec-img {
  display: flex;
  gap: 10px;
}
.tec-img2 {
  display: flex;
  gap: 10px;
  margin-left: 1%;
}
.tec-inner {
  width: 90%;
  margin-left: 5%;
}
@media (max-width: 450px) {
  .highlight-data {
    background-color: #2b2b2b;
    max-width: 430px;
    height: 480px;
    color: white;
    position: absolute;
    top: 20%;
    left: 0%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 2%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #3d3b40 gray;
  }
  .technologies-data p {
    font-size: 16px;
    font-weight: bold;
  }

  .technologies-data img {
    height: 70px;
    width: 120px;
    border: 1px solid #3d3b40;
  }
  .tec-img {
    display: flex;
    gap: 5px;
  }
  .tec-img2 {
    display: flex;
    gap: 5px;
  }
  .tec-inner {
    width: 80%;
  }
}
