* {
  padding: 0;
  margin: 0;
}

#root {
  overflow-x: hidden !important;
}

body {
  background-color: rgb(255, 255, 255);
  overflow-x: hidden !important;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-section {
  width: 90%;
  margin: auto;
}

.mat-100 {
  margin-top: 100px !important;
}

.mat-50 {
  margin-top: 50px !important;
}

.text-heading-h4 {
  font-size: 26px;
}

.custom-btn {
  /* width: 130px; */
  /* height: 40px; */
  color: #fff;
  background: #525ceb;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;

  outline: none;
  /* background-color: #525CEB; */

  font-size: 14px;
  line-height: 20px;
  padding: 20px 50px;
  letter-spacing: 0.1em;
  font-weight: 700;
  z-index: 0;
  text-transform: uppercase;
}

/* 16 */
.btn-16 {
  border: none;
  color: white;
  z-index: 55;
  position: relative;
}

.btn-16:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: 1;
  /* box-shadow:
            -7px -7px 20px 0px #fff9,
            -4px -4px 5px 0px #fff9,
            7px 7px 20px 0px #0002,
            4px 4px 5px 0px #0001; */
  transition: all 0.3s ease;
  background-color: #3d3b40;
  color: white !important;
}

.btn-16:hover {
  color: white !important;
  z-index: 55;
  position: relative;
}

.btn-16:hover:after {
  left: auto;
  right: 0;
  width: 100%;
  /* background-color: #525CEB; */
  color: white !important;
  z-index: 5555;
}

.btn-16:active {
  top: 2px;
  z-index: 55;
  position: relative;
}

.custom-btn span {
  color: white !important;
  position: relative;
  z-index: 55555555555;
}

.heading-h1 {
  font-size: 56px;
  font-weight: 800;
  line-height: 62px;
}

.heading-h2 {
  font-size: 35px;
  font-weight: 600;
  line-height: 38px;
}

.mab-100 {
  margin-bottom: 100px !important;
}

.para {
  font-size: 1.1rem;
  font-weight: 500;
  color: #595959;
  line-height: 34px;
}

.para-#525CEB {
  color: #525ceb;
}

.heading-h5 {
  font-size: 20px;
  font-weight: 700;
}

.mat-50 {
  margin-top: 50px;
}

.heading-h3 {
  font-size: 31px;
  font-weight: 700;
  line-height: 40px;
}

.container-section-2 {
  width: 90% !important;
  margin: auto;
}

.border-line {
  position: relative;
  height: 4px;
  background: #525ceb;
  width: 88px;
  margin-bottom: 5px;
}

.text-heading-h1 {
  font-size: 41px;
  font-weight: 600;
}
.welcome {
  height: 2px;
  width: 170px;
  background: #525ceb;
}
.red-line {
  width: 180px;
  height: 3px;
}
.success-heading {
  font-size: 19px;
  color: #595959;
}
.success-text {
  font-size: 30px;
  color: #3d3b40;
  font-weight: bold;
}
.main-heading {
  text-align: center;
  border: 1px solid #3d3b40;
}
@media (max-width: 450px) {
  .swiper {
    width: 100%;
    height: 240px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 240px;
    object-fit: cover;
  }
}
